/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*/

body {
  font-family: 'Arial';
  font-style: normal;
  
}

 .bg-gray {
  background: #F1F3FF;
} 

.px-8 {
  padding-left: 8rem !important;
  padding-right: 8rem !important;
}

.m-sec {
  margin-top: 8rem;
  margin-bottom: 0px;
}

.mx-10 {
  margin-left: 10%;
  margin-right: 10%;
}

 /* .header {
  display: flex;
  justify-content: space-around;
}  */

 .title {
  position: relative;
  width: 100px;
  height: 34px;
  /* left: 136px; */
  /* top: 25px; */
  background: #0D28A6;
} 

.sidebar {
  width: 50%;
    background-color: white;
    height: 100vh;
    position: absolute;
    right: 0;
    top:0;
    z-index: 10;
}

.navigation {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.navigation,ul {
  display: flex;
  gap: 33px;
  list-style: none;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  align-items: center;
}

.nav-prev {
  border: 1px solid #C4C4C4;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  color: #222222;
  align-items: center;
  display: flex;
  justify-content: center;
}

.nav-next {
  border: 1px solid #5CB85F;
  background: #5CB85F;
  width: 32px;
  height: 32px;
  border-radius: 16px;
  color: #ffffff;
  align-items: center;
  display: flex;
  justify-content: center;
}

a:link {
  text-decoration: none;
  }

  a{
    color: black !important
  }
/*
.btn-nav-mobile {
  display: none;
}

/*
.parent-card-nav {
  display: grid;
  grid-template-columns: 1fr;
  padding: 20px;
  gap: 16px;
}

.card-nav {
  width: 100%;
  height: 70px;
  background: black;
  color: white;
  display: flex;
  justify-content: space-around;
}

.title {
  line-height: 1;
}

Navigation,ul {
  line-height: 2.5;
  display: flex;
  gap: 30px;
  list-style: none;
}

.header-child {
  display: flex;
  justify-content: space-between;
  margin-left: 136px;
}
*/
/* .parent-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: 1fr 1fr;
  /* gap: 16px; */
/* }
.card {
  width: 100%;
  height: auto;
  /* border: 1px solid #000000; */

/* 
.title-header-child {
  padding: 6rem 1rem 1rem 8rem;
  width: 29rem;
}
*/

/* 
.konten {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.car-display {
  position: relative;
  top: 2rem;
}

.best-car-rental {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.service-list {
  
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.best-car-list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.best-car-content {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.card-why-us {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* border: 1px solid black; */
  /* gap: 3rem; 
}

.title-why-us {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.why-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.list-content-why-us {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.section-why-us {
  padding: 8rem;
}

.list-why-us {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  border: 1px solid #d0d0d0 ;
  border-radius: 8px;
  padding: 24px;
}
*/
.font-10 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 10px;
  line-height: 14px;
  color: #8A8A8A;
}

.font-10-thin {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  color: #8A8A8A;
}

.font-12 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400 ;
  font-size: 12px ;
  line-height: 18px;
}

.font-12-thin {
  font-family: 'Rubik';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
}

.font-14 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
} 

.font-14-thin {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.font-16 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.font-18 {
  font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 26px;
}

.font-24 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
}

.font-36 {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.card-testimoni {
    max-width: 619px;
    /* height: 270px; */
    background: #F1F3FF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.card-sewa-mobil {
  background: #0D28A6;
  border-radius: 13px
}

.btn-sewa-mobil {
  background-color: rgb(92, 184, 95);
  border-radius: 2px;
  color: white;
  border: none;
  padding: 0.5rem;
}

.btn-tampil-semua {
  background-color: #0D28A6;
  border-radius: 2px;
  color: white;
  border: none;
  padding: 0.5rem;
}
.btn-signin {

display: flex !important;
justify-content: center;
align-items: center;
padding: 8px 12px;
gap: 10px;
color: #FFFFFF;
width: 370px;
height: 36px;
background-color: #0D28A6;
border-radius: 2px;
}

.cari-mobil {
  background: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  /* margin-right: 10%;
  margin-left: 10%; */
  position: absolute;
  margin-top: -4rem;
  height: auto;
  /* width: 80%; */
  z-index: 10;
}

.backdrop {
  background: black;
  top: 0;
  left:0;
  z-index: 10;
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 60%;
}

.card-car {
  /* display: flex;
  flex-direction: column; */
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
  /* width: 333px;
  height: 478px; */
  background: #FFFFFF;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  /* flex: none;
  order: 0;
  flex-grow: 1; */
}

.max-size-image {
  max-width: 100%;
  max-height: 100%;
}

.image {
  height: 300px;
  display: flex;
  align-items: center;
}

.detail-car-list {
    flex-direction: column;
    list-style: disc;
    gap: 8px;
    color: #8A8A8A;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 175%;
    align-items: flex-start;
}

.line {
  width: 28px;
  height: 1px;
  color: #0D28A6;
}

.bank {
  border: 1px solid #D0D0D0;
  border-radius: 4px;
  width: 61px;
   justify-content: center;
  align-items: center;
  display: flex;
}

button:disabled,
button[disabled]{
  background-color: #DEF1DF;
  border-radius: 2px;
  color: white;
  border: none;
  padding: 0.5rem;
}

.text-copy {
  align-items: center;
  justify-content: space-between;
  border: 1px solid #3C3C3C;
  border-radius: 2px;
  padding: 9px 12px;
}

.pdf-viewer {
  width: 557px;
  height: 162px;
  background: #EEEEEE;
  border: 1px dashed #D0D0D0;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
}

.btn-download {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 10px;
  background: #FFFFFF;
  border: 1px solid #0D28A6;
  border-radius: 2px;
}

.accord {
  --bs-border-color : none;
}

.accord-items {
  border: 1px solid #D4D4D4 !important;
  border-radius: 4px !important;
}

.bullet-fill {
  background-color: blue;
  color: white;
  border-radius: 100%;
  width: 17px;
  height: 17px;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bullet-outline {
    border-radius: 100%;
    width: 17px;
    height: 17px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    border: 1px solid #0D28A6;
    color: black;

}

.tabel {
  border: 1px solid;
  padding-left: 8px;
}

.tabel-header {
  background-color: #0000003b;
}

@media screen and (min-width: 415px) {
     /* navigation, ul {
      display: none;
  } */
  
  /* .title {
      position: relative;
      left: 0rem;
      top: 25px
  } */
  /* .header {
      display: flex;
      justify-content: space-between;
  }

  .btn-nav-mobile {
      display: flex; */
/* .home {
  margin-left: 8rem !important;
  margin-right: 8rem !important;
} */
  }